/* http://colorschemedesigner.com/#0u11Tw0w0w0w0 */

/* fonts */
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400);

/* reset */
body { margin: 0px; background: #555; }
p, td, li, pre, div, span, pre { font-family: 'Source Sans Pro'; }
input { color: #000 !important }
h1, h2, h3, h4, h5, h6, th { font-family: 'Roboto Slab'; }
a { color: #ccc; }
a:hover { color: #eee; }
.hidden { display: none; }

/* sidebar, navbar, bottombar */
#sidebar {
	position: fixed;
	width: 200px;
	height: 100%;
	background: #333;
	border-right: 1px solid #000;
	box-shadow: 2px 0px 8px #222;
	overflow: auto;
	z-index: 2;
}
#navbar {
	list-style: none;
	margin-top: 30px;
	padding-left: 0px;
	padding-right: 20px;
}
#bottombar, #backbar {
	position: fixed; bottom: 30px;
	list-style: none;
	padding-left: 0px;
	padding-right: 20px;
}
/* individual navbar items */
#navbar .navitem, #bottombar .navitem, #backbar li {
	position: relative; left: -200px;
	color: #ddd;
	background: #383838;
	padding-left: 20px;
	width: 160px;
	font-size: 15px;
	padding-top: 6px;
	padding-bottom: 6px;
	margin-bottom: 4px;
	cursor: pointer;
	-webkit-transition: color 0.1s;
	-moz-transition: color 0.1s;
	-ms-transition: color 0.1s;
	-o-transition: color 0.1s;
	transition: color 0.1s;
}
#navbar .navitem:hover, #bottombar .navitem:hover, #backbar li:hover {
	color: #ff9640;
}
/* back button position override */ #backbar li { position: absolute; left: -20px; }
#navbar .navitem a, #bottombar .navitem a, #backbar li a {
	color: inherit;
	text-decoration: none;
}
#navbar #navtitle {
	color: #fff;
	background: #484848;
	width: 170px;
	padding-left: 10px;
	font-size: 18px;
	padding-top: 12px;
	padding-bottom: 12px;
	margin-bottom: 8px;
}
/* round first, last children */
#navbar :first-child, #bottombar :first-child, #backbar li {
	border-top-right-radius: 4px;
}
#navbar :last-child, #bottombar :last-child, #backbar li {
	border-bottom-right-radius: 4px;
}
/* other stuff in sidebar */
#signin *, #editfeeds *, #about * { color: #bbb; }
#backbutton { padding-left: 20px; }
/* edit feeds */

/* main container */
#maincontainer {
	position: absolute;
	left: 200px;
	max-width: 720px;
	padding-top: 16px;
	z-index: 1;
}
#maintable {
	width: 100%;
	background: #555;
	color: #ddd;
	border-spacing: 0px;
}
/* table headers */
#maintable > thead > tr > th {
	text-align: left;
	font-size: 24px;
}
/* right-align first column, left-align second column */
#maintable > thead > tr > td:first-child, #maintable > tbody > tr > td:first-child {
	text-align: right;
	vertical-align: top;
	padding-right: 4px;
	width: 200px;
	min-width: 200px;
	/* format class headings */
	font-weight: bold;
	cursor: pointer;
}
#maintable > thead > tr > td:last-child, #maintable > tbody > tr > td:last-child {
	text-align: left;
	vertical-align: top;
	padding-left: 4px;
	width: 100%;
}
/* whitespace fix */
#maintable > tbody > tr > td:last-child {
	white-space: pre-wrap;
}
/* prettify */
#maintable > tbody > tr, #maintable > tbody > tr > td:first-child {
	-webkit-transition: background 0.1s linear;
	-moz-transition: background 0.1s linear;
}
/*#maintable > tbody > tr:hover {
	background: #666;
}*/
#maintable > tbody > tr > td:first-child:hover {
	background: #666;
}
/* fonts */
#maintable td {
	font-size: 16px;
	line-height: 22px;
	text-shadow: 0px 1px 0px #222;
}

/* fullfeedview: highlight new updates */
.newupdate { background: #ddd; }
.newffv { background: #ff0; }
/* footers */
#maintable > tfoot > tr {
	height: 100%
}
/* fullfeedview */
#fullfeedview {
	padding-left: 16px;
	padding-right: 16px;
	color: #ddd;
	font-size: 16px;
	line-height: 22px;
	text-shadow: 0px 1px 0px #222;
}
/* diffs */
.diff-ins { background: #8f8 }
.diff-del { background: #f88; text-decoration: line-through; }

/* busy indicator */
#busy {
	position: fixed;
	width: 80px;
	height: 80px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0px 0px 4px;
	z-index: 9001;
}
#busy img {
	position: absolute;
	left: 25px;
	top: 10px;
}
#busy p {
	position: absolute;
	top: 40px;
	width: 80px;
	font-size: 14px;
	text-align: center;
}

b a[href="http://upgrade.instantfreesite.com"] { display: none; }
iframe { display: none; }
